---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- Insert some kind of image overlay in the preamble -->

<p>I have taught all three introductory (100-level) Linguistics courses at University of Hawaiʻi at Mānoa. Click on the titles below to see brief course descriptions and when I've taught each.
</p> 
{% include base_path %}

{% assign sorted_teaching = site.teaching | sort: 'order' %}
{% for post in sorted_teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
