---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
header:
  overlay_image: Blackboard2.jpg 
  overlay_filter: 0.3
---

<p>I have taught the three main introductory (100-level) <a href="https://manoa.hawaii.edu/linguistics/classes/">Linguistics courses at University of Hawaiʻi at Mānoa</a>. Click on the titles below to see course descriptions and information for when I've taught each.
</p> 
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}