---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- Insert some kind of image overlay in the preamble -->

<p1> I've taught all three introductory (100-level) Linguistics courses at University of Hawaiʻi at Mānoa. 
  Click on the titles below to see brief course descriptions and when I've taught each. </p1>
<br>

# Courses 
- [LING150B: Languages in Hawai'i and the Pacific (Unity Mastery)](/_teaching/2024_LING150B.md)

<!-- <h2> <a href="2024_LING150B">LING150B – Languages in Hawaiʻi and the Pacific (Unit Mastery)</a> </h2> 
 -->
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
